body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* ------------- focused section css --------------- */

section {
  margin-top: 45px;
}
.focused {
  display: flex;
}
.focused h1 {
  font-family: "Yeseva One", cursive;
  font-size: 48px;
  margin: 20px 0px;
}
.focus-left {
  padding-left: 70px;
  padding-top: 55px;
}
.section-child.focus-right img {
  padding-left: 60px;
}
.section-child {
  width: 50%;
  margin: 20px;
}
.section-child img {
  width: 60%;
}
.color-broder {
  border-left: 4px solid #ff5959;
  padding-left: 12px;
}
.orange-color {
  color: #ffad5a;
}
.section-child p {
  margin: 0px 189px 36px 0px;
}
/* .section-child p:nth-child(4) {
  margin-top: 75px;
} */
.unversal-btn {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 10px 38px;
  border-radius: 5px;
  margin-bottom: 80px;
  display: inline-block;
}

/* ------------- mission section css --------------- */
.mission h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
}
.container {
  display: flex;
  margin: 0px 55px;
}
.mission-child {
  margin: 27px;
  padding: 25px 11px;
  border-radius: 24px;
}
.mission-child img {
  width: 141px;
  height: 141;
}
.bc-1 {
  background-color: #4f9da630;
}
.bc-2 {
  background-color: #ff595929;
}
.bc-3 {
  background-color: #fff4d6;
  padding: 26px;
}
.mission-child h3 {
  padding-left: 20px;
}
.mission-child p {
  padding-left: 20px;
}

/*----------------------------- About section css----------------- */

.about {
  display: flex;
}
section.about img {
  padding-left: 70px;
  width: 75%;
}
.about-right p {
  margin: 0px 64px 36px 0px;
}
.about-left {
  border-right: 5px solid #ff595929;
}
.about-right {
  padding-right: 145px;
}
.about h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 45px;
}
.about .name {
  font-size: 32px;
}

/* ---------------------------  Template section css ------------------ */

.template {
  display: flex;
}
.template-left {
  padding-left: 65px;
  margin-bottom: 40px;
}
.template-left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 42px;
}
.template-left img {
  width: 100%;
  padding: 100px 0px;
}

/* ---------------------------  services section css ------------------ */

.services {
  display: flex;
}
.services-left {
  padding-left: 58px;
  position: relative;
  top: 80px;
}
.services-component {
  display: inline-block;
  text-align: center;
  width: 245px;
  padding: 20px;
  background-color: #c9cbcd73;
  border-radius: 10px;
  margin: 0px 15px 15px 0px;
  transition: 1s;
}
.services-component p {
  margin: 0;
}
.services-left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 42px;
}
.services-component .icon {
  font-size: 44px;
  background-color: #836b6b4d;
  padding: 13px;
  border-radius: 8px;
}
.services-left h4 p {
  color: aliceblue;
}
.unic {
  position: relative;
  top: 30px;
}
.services-component:hover {
  background-color: white;
  box-shadow: 1px 2px 12px 12px #c9cbcd73;
}

/* Footer Section css */

footer {
  text-align: center;
  background-color: #0b0d17;
  color: white;
  padding: 10px 0px;
  margin-top: 100px;
}
.thak-color {
  color: #ff5959;
}
